*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

            /* Reusable */

h1{
    font-size: 50px;
    margin-bottom: 15px;
}
h2{
    font-size:30px;
    color: #747372;
}
p{
    color: #828282;
    font-size: 18px;
    line-height: 32px;
}
.btn{
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(#24C6DC, #514A9D);
    padding: 13px 35px;
    border-radius: 20px;
}

.healthy-food{
    display: flex;
}
.half-width{
    width:50%;
    padding: 80px
}
.half-width img{
    width:90%;
}
span{
    color: orange;
}
.healthy-food p{
    margin-bottom: 30px;
}

            /* About Section */

.about{
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.about img{
    width:100%;
}
.about p{
    color: #000;
    margin: 25px 0 50px 0;
}
.about-me{
    padding-top: 160px;
}

                /* Recipies */

.my-recipies{
    padding: 100px 0;
    text-align: center;
}
.my-recipies h2{
    margin-bottom: 20px;
}
.recipies{
    display: flex;
    padding:50px 100px;
}
.recipy-item{
    width:27%;
    margin-left: 3%;
    margin-right: 3%; 
    padding: 20px;
    text-align: left;
    box-shadow: gray 10px 10px 30px;
    border-radius:20px;
}
.recipy-item img{
    width:100%;
}
.recipy-item h3{
    font-size: 25px;
    margin: 20px 0 10px 0;
}
.recipy-item p{
    color: #222;
}

                /* Real Clients */

.real-client-stories h2{
    text-align: center;
}
.real-client{
    display: flex;
    padding: 50px 100px 50px;
}
.client{
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
}
.client img{
    width: 100%;
    border-radius: 50%;
}
.client p{
    margin: 20px 0;
}
.client h5{
    text-align: center;
}

 /* Offers */

.offers-for-you{
    padding: 80px 100px 80px;
    background: #F7F7F7;
}
.offers-for-you h3{
    font-size: 28px;
    padding-bottom: 22px;
}
.offers{
    display: flex;
    justify-content: space-between;
}
.offers-item{
    width: 22%;
}
.offers .price{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.price h4{
    font-size: 16px;
    padding-top: 5px;
}
.price p{
    font-size: 14px;
}
.offers p{
    font-size: 15px;
}

                /* Footer */

footer{
    text-align: center;
    background: #0B0D17;
    padding:50px;
}
footer h3{
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}
footer p{
    font-size: 14px;
    color: #fff;
}
            